---
import { client } from '../../db';

// This is temporary imported for just syncing.
await client.execute('SELECT 1;');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Comments</title>
  </head>
  <body>
    <h2>Database Configuration</h2>
    <p>URL: {process.env.LIBSQL_DATABASE_URL}</p>
    <p>Token: {process.env.LIBSQL_AUTH_TOKEN}</p>
  </body>
</html>
